html {
    font-family: 'Lucida Console', monospace;
}


div {
    text-align: center;
}

p {
    text-align: center;
    width: 90%;
    text-wrap: inherit;
    margin: auto
}

hr {
    width: 75px;
    margin: 25px auto;
}

#ip-address {
    background-color: rgba(131, 131, 131, 0.171);
    padding: 3px;
    border-radius: 5px;
}

#osm-map {
    height: 33vh;
    width: 33vh;
    margin: 10px auto;
}

.interactive {
    background-color: burlywood;
    width: 90%;
    padding: 10px;
    border-radius: 7px;
    margin: auto;
}

button {
    padding: 5px;
    font-size: 16;
    font-family: 'Lucida Console', monospace;
}