html {
    font-family: 'Lucida Console', monospace;
}


div {
    text-align: center;
}

p {
    text-align: center;
    width: 90%;
    text-wrap: inherit;
    margin: auto;
    opacity: 100%;
}

hr {
    width: 75px;
    margin: 25px auto;
}

.code {
    background-color: rgb(235, 235, 235);
    padding: 3px;
    border-radius: 5px;
}

.query-params {
    background-color: rgba(245, 194, 54, 0.637);
    padding: 3px;
    border-radius: 5px;
}

.spiders {
    background-image: url("spiders.gif");
    background-size: 15%;
    padding: 10px;
    margin: -10px;
}

#osm-map {
    height: 33vh;
    width: 33vh;
    margin: 10px auto;
}

.interactive {
    opacity: 100%;
    background-color: burlywood;
    width: 90%;
    padding: 10px;
    border-radius: 7px;
    margin: 10px auto;
    overflow: hidden;
}

button {
    padding: 5px;
    margin: 5px auto;
    font-size: 16;
    font-family: 'Lucida Console', monospace;
}

input {
    margin: 10px;
}